body{
    background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./background.jpeg");
    background-size: cover,cover;
    background-repeat: no-repeat,no-repeat;
}
.container{
    width: 100%;
    height: 300%;
    display:flex;
    justify-content: space-between;
}
.content1{
    position: fixed;
    height:900px;
    width:400px;
    background: rgba(158, 84, 19, 0.7);
    margin-left: 20px;
    border-radius: 10px;
}

img{

    border-radius: 50%;
    height: 230px;
    width: 220px;
    margin-left: 90px;
    margin-top: 15px;
    
}
.content2{
    padding-left: 500px;
    height:5000px;
    width:3000px;
    background: rgba(53, 49, 49, 0.7);
    border-radius: 10px;
    margin:auto
}
.navbar{
    display: flex;
    justify-content:space-evenly;
    position: fixed;
    align-items: center;
    width:50%;
    background: rgba(158, 84, 19, 0.7);
    margin-left: 5%;
    border-radius: 20px;
    
}
a{
    line-height: 2.5em;
    color: white;
    text-decoration: none;
    font-size: larger;
    
}
h2{
    color: white;
    margin-top: 80px;
    font-size: x-large; 
    padding-top: 100px;
}
.line{
    height: 8px;
    width: 50px;
    background: lightcyan;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 10px;
    
}
h3{
    color: white;
    text-align:center;

}
#id1{
    text-align: center;
    color: white;
}

p{
    color: white;
    font-size: larger;
    padding-bottom: 180px;
}
.small-icon
{
    height:50px;
    width: 70px;
    padding-bottom: 0%;
    border-radius: 50%;
    margin: auto;
}
.project1{
    display: flex;
    flex-direction: row;
    justify-content: space-centered;
}
.project1 h4{
    color: white;
    font-size: 25px;
    
    margin-top: 2%;
}
.project1 p{
    color: white;
    padding-bottom: 50px;
    margin: auto;
    align-items: center;
}
.project1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 350px;
    width: 450px;
    margin: 20px 0px;
    margin-right: 10px;
    margin-top: 80px;
}
.languageskill
{
    width: 30%;
}
.skill h4{
    padding-bottom: 5%;
    font-size: x-large;
    padding-top: 0%;
}


.skill ul
{
    list-style: none;
}
progress
{
    height: 10px;
    border-radius: 90%;
    width: 120%;
    
}
progress::-webkit-progress-value {background-color: rgba(158, 84, 19, 0.7);}
#skills
{
   
    padding-right: 15%;
    padding-top: 8%;
}
#skills ul{
    list-style: none;
    font-size: 1.5em;
}
#skills ul li{
    margin: 10px 0px;
    color: white;
}
#skills h4
{
    padding-bottom: 5%;
    
    font-size: 30px;
    color: white;
}
.skill
{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20%;
    margin-top: -70px;
}
#id1{
    text-align: center;
    font-size: large;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 10%;
}

.id2{
    line-height: 2.5em;
    color: white;
    font-size: larger;
    text-decoration: dashed;
}

